.th-members {
    .wrapper {
        display: grid;
        .not-found {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.4em;
        }
    }
    h3,
    span {
        margin: 0;
    }
    ._member {
        .__avatar {
            img {
                opacity: 1;
                transform: matrix(1.02, 0, 0, 1.02, 0, 0);
                transition: all ease 0.3s;
                &:hover {
                    transform: matrix(1, 0, 0, 1, 0, 0);
                }
            }
        }
        .__content {
            display: flex;
            flex-direction: column;
            .info {
                display: inline-flex;
                .info_space {
                    margin: 0 4px;
                }
            }
        }
    }
}

.jBox-wrapper {
    .jBox-title {
        font-size: 17px;
        font-family: "title";
    }
    .jBox-content {
        font-size: 15px;
        font-family: "element";
    }
}
