.th-posts .th-post {
    text-align: right;
}

.th-posts .th-post__featured {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.th-posts .th-post__featured img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    max-width: 100% !important;
    transition: all 0.3s;
}

.th-posts .th-post__featured:hover img {
    transform: scale(1.05);
}

.th-posts .th-post__categories {
    margin-top: 10px;
}

.th-posts .th-post__category-link {
    font-size: 18px;
    color: #222222;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 10px;
    transition: all 0.3s;
}

.th-posts .th-post__category-link:hover {
    color: #0693e3;
}

.th-posts .th-post__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.th-posts .th-post__title {
    font-size: 20px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

.th-posts .th-post__read-more {
    min-width: 90px;
    font-size: 18px;
    line-height: 1.5;
    color: #0693e3;
    transition: all 0.3s;
}

.th-posts .th-post__read-more:hover {
    text-decoration: underline;
}